<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <link rel="stylesheet" href="style/users.css">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->

<!--{{#each filter}}-->
<!--    <div class="users">-->
<!--        <div class="user">-->
<!--            <span>Last name : {{this.name}}</span>-->
<!--            <span>Last name : {{this.lastName}}</span>-->
<!--            <span>Email : {{this.email}}</span>-->
<!--            <span>Password : {{this.password}}</span>-->
<!--            <span>Age : {{this.age}}</span>-->
<!--            <span>City : {{this.city}}</span>-->
<!--            <span>City : {{this.id}}</span>-->

<!--        </div>-->
<!--        <hr>-->
<!--    </div>-->
<!--{{/each}}-->

<!--</body>-->
<!--</html>-->